.headerWrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
}
.headerWrapper ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}
.homeConteiner{
    display: flex;
    max-width: 1030px;
    margin: 0 auto;
    gap: 100px;
    margin-top: 100px;
}
.homePageLeftSide{
    max-width: 600px;
}
.homePageLeftSide h1{
    max-width: 400px;
    font-style: normal;
    font-size: 24px;
    line-height: 51px;
    text-transform: capitalize;
}
.homePageLeftSide h4{
    max-width: 590px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    text-transform: capitalize;
}
.forButtons{
    width: 206px;
    height: 75px;
    background-color: #5555FFCF;
    color: white;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-transform: capitalize;
    cursor: pointer;
    transition-duration: 0.4s;
}
img{
    height: 328px;
}
.forButtons:hover{
    width: 216px;
    height: 85px;
    background-color: #5555FFCF;
    color: white;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-transform: capitalize;
    cursor: pointer;
    transition-duration: 0.4s;
}
a:hover{
    /* transition-duration: 0.1s; */
    text-decoration: none;
    color:#5555FFCF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}
.aboutUs{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 63px;
    text-transform: capitalize;
    color: black;
    text-align: center;
}
.aboutUsWrapper{
    /* margin: 150px; */
    max-width: 1027px;
    margin: 0 auto;
    margin-top: 90px;
}
.aboutUsWrapper p{
    font-style: normal;
    font-size: 24px;
    line-height: 51px;
    text-transform: capitalize;
    width: 1015px;
    /* margin-left: 100px; */
}
.contactWrapper{
    margin: 0 auto;
    max-width: 615px;
    margin-top: 50px;
}
.contactWrapper input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E2E1E5;
    border-radius: 5px;
}
.inputConteiner{
    margin-top: 60px;
}
.buttonConteiner{
    display: flex;
    justify-content: flex-end;
    /* margin-right: 90px; */
    margin-top: 43px;
}
input::placeholder{
    padding-left: 10px;
}


